.main {
  padding: 1rem;
}

.title {
  text-align: center;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
